* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: lightgray;
  font-family: 'Open Sans', sans-serif; }

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 600px;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); }
  .container form h1 {
    text-align: center;
    margin-bottom: 30px; }
  .container form ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0 auto; }
    .container form ul li {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px; }
      .container form ul li :not(:last-child) {
        margin-bottom: 5px; }
      .container form ul li input {
        padding: 8px 5px;
        border: 1px solid lightgrey;
        border-radius: 5px; }
        .container form ul li input:focus {
          outline: 0;
          border-color: #777; }
      .container form ul li.success input {
        border-width: 2px;
        border-color: #2ecc71; }
      .container form ul li.error input {
        border-width: 2px;
        border-color: #e74c3c; }
      .container form ul li small {
        color: #e74c3c;
        visibility: hidden; }
      .container form ul li.error small {
        visibility: visible; }
  .container form button {
    cursor: pointer;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    padding: 8px; }
