* {
  box-sizing: border-box;
}

body {
  color: #fff;
  background-color: #ffdddd;
  min-height: 100vh;

  header {
    margin: auto;
    padding: 20px;
    h1 {
      color: #000;
      text-align: center;
    }
  }
}

.btn {
  cursor: pointer;
  color: #fff;
  background-color: darksalmon;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 8px;

  &:active {
    transform: scale(0.98);
  }
}

.btn-toggle {
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

.btn:focus,
select:focus {
  outline: 0;
}

.textbox {
  width: 70%;
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #333;
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  transition: all 1s ease-in-out;

  &.show {
    top: 30%;
  }

  select {
    background-color: darksalmon;
    border: 0;
    color: #fff;
    font-size: 12px;
    height: 30px;
    width: 100%;
  }

  textarea {
    border: 1px #dadada solid;
    font-size: 16px;
    padding: 8px;
    margin: 15px 0;
    width: 100%;
    height: 150px;
  }

  .btn-read {
    width: 100%;
  }

  .close-btn {
    float: right;
    text-align: center;
    background-color: inherit;
  }
}

main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.box {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  white-space: nowrap;
  transition: box-shadow 0.2s ease-out;

  &:active,
  &.active {
    box-shadow: 0 0 10px 5px darksalmon;
  }

  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  p {
    padding: 10px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    background-color: darksalmon;
  }
}

@media (max-width: 1100px) {
  main {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 760px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  main {
    grid-template-columns: 1fr;
  }
}
